<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuzzBlitz_Android_Cliente"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.CargarJuegoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".Activities.ReportIssueActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.BeforeTiendaActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.CreditsActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.CerrarSesionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.OpcionesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.TutorialActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.BorrarUsuarioActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.PoliticaPrivacidadActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.TerminosActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.TiendaActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.IntercambioActivity"
            android:exported="false"/>

        <activity
            android:name=".Activities.RankingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.BeforeChatActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.ForumActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.HelpActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.CargaIntercambioActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.InventoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.SkinsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.WeaponsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.ChatListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.FriendsListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.FriendRequestActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".Activities.ForumTopicListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="android.security.net.config"
            android:resource="@xml/network_security_config" />

    </application>

</manifest>